In [ ]:
import numpy as np
import pandas as pd
import math
import os
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Reshape, GRU, RNN

tf.keras.backend.set_floatx('float64')

In [ ]:
train = pd.read_csv('eletrain.csv')
test = pd.read_csv('test.csv', index_col = 1)
submission = pd.read_csv('sample_submission.csv')

전력사용량은 당연히 사용해야하고 기온, 습도가 전력사용량에 많은 영향을 줄 것 같아서 두 개도 학습 특성으로 선택

In [ ]:
train

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0,0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0,0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0,0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0,0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1,1
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1,1
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1,1
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1,1
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1,1

In [ ]:
test

,num,date_time,기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,27.8,1.5,74.0,0.0,0.0,0,0
1,1,2020-08-25 01,NaN,NaN,NaN,NaN,NaN,0,0
2,1,2020-08-25 02,NaN,NaN,NaN,NaN,NaN,0,0
3,1,2020-08-25 03,27.3,1.1,78.0,NaN,0.0,0,0
4,1,2020-08-25 04,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...
10075,60,2020-08-31 19,NaN,NaN,NaN,NaN,NaN,1,1
10076,60,2020-08-31 20,NaN,NaN,NaN,NaN,NaN,1,1
10077,60,2020-08-31 21,27.9,4.1,68.0,NaN,0.0,1,1
10078,60,2020-08-31 22,NaN,NaN,NaN,NaN,NaN,1,1
10079,60,2020-08-31 23,NaN,NaN,NaN,NaN,NaN,1,1

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# 시리즈를 지도학습으로
def series_to_supervised(data, n_in = 1, n_out = 1, dropnan=True):
  n_vars = 1 if type(data) is list else data.shape[1]
  df = pd.DataFrame(data)
  cols, names = list(), list()
  #input sequence (t-m, ... t-1)
  for i in range(n_in, 0, -1):
    cols.append(df.shift(i))
    names += [(('var%d(t-%d') % (j+1, i)) for j in range(n_vars)]
  #forecast sequence
  for i in range(0, n_out):
    cols.append(df.shift(-i))
    if i >=0:
      names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
  agg = pd.concat(cols, axis=1)
  agg.columns = names

  if dropnan:
    agg.dropna(inplace=True)

  return agg
dataset = pd.read_csv('eletrain.csv', index_col =1)
values=dataset.values
encoder = LabelEncoder()
values[:, 0] = encoder.fit_transform(values[:, 0])
values = values.astype('float32')
scaler = MinMaxScaler(feature_range=(0,6))
scaled = scaler.fit_transform(values)
reframed = series_to_supervised(scaled, 4, 1)
print(reframed.head())

   var1(t-4  var2(t-4  var3(t-4  var4(t-4  var5(t-4  var6(t-4  var7(t-4  \
4       0.0  2.766431  1.547619  0.746269  5.407408  0.058896       0.0
5       0.0  2.751746  1.571429  0.865672  5.333333  0.022086       0.0
6       0.0  2.742102  1.523810  0.955224  5.333333  0.000000       0.0
7       0.0  2.722377  1.428571  0.955224  5.333333  0.000000       0.0
8       0.0  2.720623  1.404762  0.985075  5.407408  0.000000       0.0

   var8(t-4  var9(t-4  var1(t-3  ...  var9(t-1  var1(t)   var2(t)   var3(t)  \
4       0.0       0.0       0.0  ...       0.0      0.0  2.720623  1.404762
5       0.0       0.0       0.0  ...       0.0      0.0  2.709445  1.380953
6       0.0       0.0       0.0  ...       0.0      0.0  2.698486  1.333333
7       0.0       0.0       0.0  ...       0.0      0.0  2.712295  1.380953
8       0.0       0.0       0.0  ...       0.0      0.0  2.712952  1.595238

    var4(t)   var5(t)   var6(t)  var7(t)  var8(t)  var9(t)
4  0.985075  5.407408  0.000000      0.0      0.0      0.0
5  1.014925  5.481482  0.000000      0.0      0.0      0.0
6  1.014925  5.259259  0.007362      0.0      0.0      0.0
7  0.686567  4.962963  0.000000      0.6      0.0      0.0
8  0.985075  4.518519  0.000000      1.8      0.0      0.0

[5 rows x 45 columns]

In [ ]:
test=test.interpolate()

,num,기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
date_time,,,,,,,,
2020-08-25 00,1,27.800000,1.500000,74.000000,0.0,0.000000,0,0
2020-08-25 01,1,27.633333,1.366667,75.333333,0.0,0.000000,0,0
2020-08-25 02,1,27.466667,1.233333,76.666667,0.0,0.000000,0,0
2020-08-25 03,1,27.300000,1.100000,78.000000,0.0,0.000000,0,0
2020-08-25 04,1,26.900000,1.166667,79.666667,0.0,0.000000,0,0
...,...,...,...,...,...,...,...,...
2020-08-31 19,60,28.633333,3.566667,66.000000,0.0,0.533333,1,1
2020-08-31 20,60,28.266667,3.833333,67.000000,0.0,0.266667,1,1
2020-08-31 21,60,27.900000,4.100000,68.000000,0.0,0.000000,1,1
2020-08-31 22,60,27.900000,4.100000,68.000000,0.0,0.000000,1,1
2020-08-31 23,60,27.900000,4.100000,68.000000,0.0,0.000000,1,1

In [ ]:
input_window =996 #임의의 수
output_window = 24 #168 7일 24시간
window = 12 #window는 12시간 마다는 12시간 마다
num_features = 3 #베이스라인은 feature를 하나만 사용, 나느 3개
num_power = 60
end_=168
lstm_units=32
dropout=0.2
EPOCH=30
BATCH_SIZE=128

In [ ]:
mini=train.iloc[:,2].min()
size=train.iloc[:,2].max()-train.iloc[:,2].min()
train.iloc[:,2]=(train.iloc[:,2]-mini)/size
mini2=train.iloc[:,3].min()
size2=train.iloc[:,3].max()-train.iloc[:,3].min()
train.iloc[:,3]=(train.iloc[:,3]-mini2)/size2
mini3=train.iloc[:,5].min()
size3=train.iloc[:,5].max()-train.iloc[:,5].min()
train.iloc[:,5]=(train.iloc[:,5]-mini3)/size3
train_x=tf.reshape(train.iloc[:,[2,3,5]].values, [num_power, 24*85, num_features])
print(f'train_x.shape:{train_x.shape}')

train_x.shape:(60, 2040, 3)

In [ ]:
train_window_x= np.zeros(( train_x.shape[0], (train_x.shape[1]-(input_window + output_window))//window, input_window, num_features)) 
train_window_y= np.zeros(( train_x.shape[0], (train_x.shape[1]-(input_window + output_window))//window, output_window, num_features))

In [ ]:
print(f'train_window_x.shape:{train_window_x.shape}')
print(f'train_window_y.shape:{train_window_y.shape}')

train_window_x.shape:(60, 85, 996, 3)
train_window_y.shape:(60, 85, 24, 3)

In [ ]:
for example in range(train_x.shape[0]):
    for start in range(0, train_x.shape[1]-(input_window+output_window), window):
        end=start+input_window
        train_window_x[example, start//window, :] = train_x[example, start: end               , :]
        train_window_y[example, start//window, :] = train_x[example, end  : end+ output_window, :]

In [ ]:
train_window_x

array([[[[0.46107178, 0.25793651, 0.90123457],
         [0.45862432, 0.26190476, 0.88888889],
         [0.45701703, 0.25396825, 0.88888889],
         ...,
         [0.47571999, 0.5       , 0.49382716],
         [0.47524511, 0.51984127, 0.5308642 ],
         [0.47630446, 0.55555556, 0.55555556]],

        [[0.45599422, 0.47619048, 0.37037037],
         [0.45676133, 0.47619048, 0.28395062],
         [0.45595769, 0.49603175, 0.24691358],
         ...,
         [0.4768524 , 0.44047619, 0.87654321],
         [0.47740034, 0.43650794, 0.87654321],
         [0.47641405, 0.42460317, 0.87654321]],

        [[0.44649662, 0.21825397, 0.67901235],
         [0.44477975, 0.20238095, 0.71604938],
         [0.44353775, 0.19047619, 0.72839506],
         ...,
         [0.4779848 , 0.29761905, 0.95061728],
         [0.47882498, 0.31746032, 0.9382716 ],
         [0.47845968, 0.31746032, 0.95061728]],

        ...,

        [[0.47886151, 0.51984127, 0.54320988],
         [0.47816745, 0.50396825, 0.55555556],
         [0.47791175, 0.48412698, 0.54320988],
         ...,
         [0.48474271, 0.57142857, 0.79012346],
         [0.48682488, 0.58730159, 0.79012346],
         [0.4896011 , 0.63095238, 0.75308642]],

        [[0.47677934, 0.57539683, 0.55555556],
         [0.47707157, 0.59126984, 0.55555556],
         [0.47732728, 0.57539683, 0.58024691],
         ...,
         [0.48302584, 0.45634921, 0.92592593],
         [0.48287972, 0.44047619, 0.92592593],
         [0.48291625, 0.42857143, 0.9382716 ]],

        [[0.4762314 , 0.42063492, 0.86419753],
         [0.47561041, 0.41666667, 0.83950617],
         [0.47440494, 0.36507937, 0.85185185],
         ...,
         [0.48134549, 0.5       , 0.87654321],
         [0.48101673, 0.53968254, 0.80246914],
         [0.48277013, 0.59920635, 0.7037037 ]]],


       [[[0.05508606, 0.28571429, 0.92592593],
         [0.05446506, 0.30555556, 0.86419753],
         [0.05484862, 0.31349206, 0.82716049],
         ...,
         [0.05999924, 0.4047619 , 0.80246914],
         [0.05985312, 0.4047619 , 0.82716049],
         [0.06047412, 0.4047619 , 0.85185185]],

        [[0.08832765, 0.47222222, 0.7037037 ],
         [0.08883906, 0.48809524, 0.66666667],
         [0.08867467, 0.54365079, 0.55555556],
         ...,
         [0.05698558, 0.30952381, 0.96296296],
         [0.05630979, 0.30555556, 0.96296296],
         [0.05572532, 0.3015873 , 0.96296296]],

        [[0.05592623, 0.3968254 , 0.28395062],
         [0.05422762, 0.38492063, 0.28395062],
         [0.05462944, 0.36111111, 0.2962963 ],
         ...,
         [0.09260157, 0.30952381, 0.96296296],
         [0.09073858, 0.31349206, 0.96296296],
         [0.0908299 , 0.30952381, 0.96296296]],

        ...,

        [[0.05481209, 0.38888889, 0.80246914],
         [0.05411804, 0.38888889, 0.80246914],
         [0.05409977, 0.37301587, 0.85185185],
         ...,
         [0.07104933, 0.67063492, 0.60493827],
         [0.06927766, 0.73412698, 0.55555556],
         [0.06944204, 0.73015873, 0.59259259]],

        [[0.06127776, 0.3968254 , 0.88888889],
         [0.06054718, 0.38888889, 0.91358025],
         [0.06021841, 0.37698413, 0.91358025],
         ...,
         [0.05965221, 0.57142857, 0.75308642],
         [0.05780749, 0.57539683, 0.72839506],
         [0.05760658, 0.56746032, 0.75308642]],

        [[0.05550615, 0.30555556, 0.96296296],
         [0.05510432, 0.30952381, 0.96296296],
         [0.05515912, 0.29761905, 0.96296296],
         ...,
         [0.06370695, 0.66666667, 0.61728395],
         [0.06409051, 0.67857143, 0.65432099],
         [0.06306769, 0.6984127 , 0.7037037 ]]],


       [[[0.17946804, 0.23412698, 1.        ],
         [0.17879225, 0.24206349, 0.98765432],
         [0.1790236 , 0.24206349, 0.97530864],
         ...,
         [0.18400375, 0.51190476, 0.65432099],
         [0.18384546, 0.51984127, 0.66666667],
         [0.18379067, 0.5515873 , 0.64197531]],

        [[0.18530054, 0.48015873, 0.37037037],
         [0.18667648, 0.46428571, 0.32098765],
         [0.18657298, 0.49603175, 0.34567901],
         ...,
         [0.18362629, 0.40873016, 0.9382716 ],
         [0.18372979, 0.40873016, 0.90123457],
         [0.18364455, 0.4047619 , 0.88888889]],

        [[0.18108751, 0.11904762, 0.92592593],
         [0.17957154, 0.09920635, 0.92592593],
         [0.17916363, 0.10714286, 0.90123457],
         ...,
         [0.19134613, 0.30555556, 0.96296296],
         [0.19062772, 0.32142857, 0.95061728],
         [0.19093822, 0.32539683, 0.92592593]],

        ...,

        [[0.1838759 , 0.54761905, 0.59259259],
         [0.18309052, 0.53968254, 0.59259259],
         [0.18229297, 0.52777778, 0.60493827],
         ...,
         [0.19283692, 0.6031746 , 0.82716049],
         [0.19516341, 0.64285714, 0.80246914],
         [0.19593149, 0.66269841, 0.77777778]],

        [[0.18435078, 0.55952381, 0.64197531],
         [0.18453343, 0.56349206, 0.65432099],
         [0.18416205, 0.55555556, 0.69135802],
         ...,
         [0.19197321, 0.45634921, 1.        ],
         [0.19150506, 0.45238095, 1.        ],
         [0.19010333, 0.45238095, 1.        ]],

        [[0.18251823, 0.38492063, 0.92592593],
         [0.18268261, 0.36507937, 0.9382716 ],
         [0.18337667, 0.32936508, 0.95061728],
         ...,
         [0.18920917, 0.56746032, 0.86419753],
         [0.18905696, 0.61111111, 0.7654321 ],
         [0.18967187, 0.6468254 , 0.75308642]]],


       ...,


       [[[0.03273018, 0.25793651, 0.90123457],
         [0.03033751, 0.26190476, 0.88888889],
         [0.02983524, 0.25396825, 0.88888889],
         ...,
         [0.05050164, 0.5       , 0.49382716],
         [0.05334179, 0.51984127, 0.5308642 ],
         [0.0511957 , 0.55555556, 0.55555556]],

        [[0.06272067, 0.47619048, 0.37037037],
         [0.06262021, 0.47619048, 0.28395062],
         [0.06423663, 0.49603175, 0.24691358],
         ...,
         [0.04158851, 0.44047619, 0.87654321],
         [0.0387575 , 0.43650794, 0.87654321],
         [0.03881229, 0.42460317, 0.87654321]],

        [[0.03283977, 0.21825397, 0.67901235],
         [0.03082153, 0.20238095, 0.71604938],
         [0.030785  , 0.19047619, 0.72839506],
         ...,
         [0.06625487, 0.29761905, 0.95061728],
         [0.06401745, 0.31746032, 0.9382716 ],
         [0.06667495, 0.31746032, 0.95061728]],

        ...,

        [[0.03641963, 0.51984127, 0.54320988],
         [0.033132  , 0.50396825, 0.55555556],
         [0.03435573, 0.48412698, 0.54320988],
         ...,
         [0.05549701, 0.57142857, 0.79012346],
         [0.05629152, 0.58730159, 0.79012346],
         [0.05505866, 0.63095238, 0.75308642]],

        [[0.05464771, 0.57539683, 0.55555556],
         [0.05158839, 0.59126984, 0.55555556],
         [0.05418196, 0.57539683, 0.58024691],
         ...,
         [0.04353369, 0.45634921, 0.92592593],
         [0.03554293, 0.44047619, 0.92592593],
         [0.0343466 , 0.42857143, 0.9382716 ]],

        [[0.0363831 , 0.42063492, 0.86419753],
         [0.03227356, 0.41666667, 0.83950617],
         [0.0313238 , 0.36507937, 0.85185185],
         ...,
         [0.04776195, 0.5       , 0.87654321],
         [0.05047425, 0.53968254, 0.80246914],
         [0.0488213 , 0.59920635, 0.7037037 ]]],


       [[[0.0322553 , 0.3452381 , 0.71604938],
         [0.03236489, 0.33730159, 0.72839506],
         [0.05132355, 0.33333333, 0.74074074],
         ...,
         [0.06277546, 0.40079365, 0.85185185],
         [0.0807661 , 0.4047619 , 0.83950617],
         [0.0804556 , 0.38492063, 0.88888889]],

        [[0.07353331, 0.57142857, 0.24691358],
         [0.06367043, 0.55952381, 0.17283951],
         [0.06536903, 0.5952381 , 0.17283951],
         ...,
         [0.04902221, 0.31349206, 0.98765432],
         [0.04982585, 0.30952381, 0.98765432],
         [0.03809997, 0.3015873 , 0.98765432]],

        [[0.0440725 , 0.08333333, 0.74074074],
         [0.04315927, 0.05555556, 0.77777778],
         [0.03641963, 0.04365079, 0.75308642],
         ...,
         [0.05326861, 0.24603175, 0.98765432],
         [0.05597798, 0.24603175, 0.98765432],
         [0.06354383, 0.26190476, 0.98765432]],

        ...,

        [[0.03967073, 0.43650794, 0.87654321],
         [0.05338745, 0.43253968, 0.87654321],
         [0.05165231, 0.43253968, 0.87654321],
         ...,
         [0.08799888, 0.55952381, 0.79012346],
         [0.09819054, 0.6468254 , 0.67901235],
         [0.10489365, 0.6547619 , 0.64197531]],

        [[0.06606309, 0.36904762, 0.91358025],
         [0.07181644, 0.37698413, 0.88888889],
         [0.05895816, 0.37698413, 0.90123457],
         ...,
         [0.06394439, 0.52777778, 0.87654321],
         [0.07342373, 0.51984127, 0.87654321],
         [0.05227331, 0.5       , 0.95061728]],

        [[0.04872998, 0.29761905, 0.98765432],
         [0.0511409 , 0.28174603, 0.98765432],
         [0.04337845, 0.27380952, 0.98765432],
         ...,
         [0.10670184, 0.59920635, 0.75308642],
         [0.0893322 , 0.67460317, 0.62962963],
         [0.10259231, 0.69444444, 0.55555556]]],


       [[[0.142537  , 0.23809524, 0.92592593],
         [0.1264885 , 0.23412698, 0.92592593],
         [0.12880202, 0.21031746, 0.9382716 ],
         ...,
         [0.20687713, 0.51587302, 0.58024691],
         [0.21043264, 0.52380952, 0.60493827],
         [0.2079243 , 0.53174603, 0.60493827]],

        [[0.16401618, 0.32142857, 0.5308642 ],
         [0.16262807, 0.3452381 , 0.49382716],
         [0.17017745, 0.34126984, 0.49382716],
         ...,
         [0.18768712, 0.41269841, 0.87654321],
         [0.17536459, 0.41666667, 0.79012346],
         [0.16513641, 0.42857143, 0.77777778]],

        [[0.15110919, 0.13888889, 0.90123457],
         [0.13320988, 0.12698413, 0.90123457],
         [0.12670768, 0.12301587, 0.90123457],
         ...,
         [0.19331262, 0.28968254, 0.91358025],
         [0.1970386 , 0.3015873 , 0.92592593],
         [0.19694119, 0.30952381, 0.9382716 ]],

        ...,

        [[0.16730381, 0.5515873 , 0.50617284],
         [0.16479547, 0.53174603, 0.5308642 ],
         [0.16094773, 0.51587302, 0.5308642 ],
         ...,
         [0.20436879, 0.57142857, 0.7037037 ],
         [0.21425603, 0.61111111, 0.69135802],
         [0.24998161, 0.63492063, 0.69135802]],

        [[0.20712066, 0.53968254, 0.61728395],
         [0.20977512, 0.5515873 , 0.62962963],
         [0.21359851, 0.5515873 , 0.61728395],
         ...,
         [0.2083383 , 0.50793651, 0.7654321 ],
         [0.19489555, 0.49603175, 0.77777778],
         [0.18174503, 0.49206349, 0.81481481]],

        [[0.1619462 , 0.42857143, 0.7654321 ],
         [0.15965703, 0.41269841, 0.86419753],
         [0.15797669, 0.38888889, 0.92592593],
         ...,
         [0.20414962, 0.53571429, 0.72839506],
         [0.20680407, 0.55952381, 0.65432099],
         [0.23332429, 0.60714286, 0.58024691]]]])

In [ ]:
new_train_x=tf.reshape(train_window_x, [-1, input_window, num_features])
new_train_y=tf.reshape(train_window_y, [-1, output_window,num_features])
print(f'new_train_x.shape:{new_train_x.shape}')
print(f'new_train_y.shape:{new_train_y.shape}')

new_train_x.shape:(5100, 996, 3)
new_train_y.shape:(5100, 24, 3)

In [ ]:
model=Sequential([
LSTM(lstm_units, return_sequences=False, recurrent_dropout=dropout),
Dense(output_window * num_features, kernel_initializer=tf.initializers.zeros()),
Reshape([output_window, num_features])
])

WARNING:tensorflow:Layer lstm_4 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

In [ ]:
model.compile(optimizer='rmsprop', loss='mae', metrics=['mae'])
# 에포크가 끝날 때마다 점(.)을 출력해 훈련 진행 과정을 표시합니다
class PrintDot(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs):
        if epoch % 10 == 0: print('')
        print('.', end='')

#가장 좋은 성능을 낸 val_loss가 적은 model만 남겨 놓았습니다.
save_best_only=tf.keras.callbacks.ModelCheckpoint(filepath="lstm_model.h5", monitor='val_loss', save_best_only=True)


early_stop = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=20)

#검증 손실이 10epoch 동안 좋아지지 않으면 학습률을 0.1 배로 재구성하는 명령어입니다.
reduceLR = tf.keras.callbacks.ReduceLROnPlateau(monitor='val_loss', factor=0.1, patience=10)

In [ ]:
model.fit(new_train_x, new_train_y, epochs=EPOCH, batch_size=BATCH_SIZE, validation_split = 0.2, verbose=0,
          callbacks=[PrintDot(), early_stop, save_best_only , reduceLR])

model.summary()

..........
..........
..........Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_4 (LSTM)               (None, 32)                4608

 dense_6 (Dense)             (None, 72)                2376

 reshape_3 (Reshape)         (None, 24, 3)             0

=================================================================
Total params: 6,984
Trainable params: 6,984
Non-trainable params: 0
_________________________________________________________________

In [ ]:
prediction=np.zeros((num_power, end_, num_features))
new_test_x=train_x

for i in range(end_//output_window):
    start_=i*output_window
    next_=model.predict(new_test_x[ : , -input_window:, :])
    new_test_x = tf.concat([new_test_x, next_], axis=1)
    print(new_test_x.shape)
    prediction[:, start_: start_ + output_window, :]= next_

2/2 [==============================] - 1s 381ms/step
(60, 2064, 3)
2/2 [==============================] - 1s 373ms/step
(60, 2088, 3)
2/2 [==============================] - 1s 342ms/step
(60, 2112, 3)
2/2 [==============================] - 1s 341ms/step
(60, 2136, 3)
2/2 [==============================] - 1s 381ms/step
(60, 2160, 3)
2/2 [==============================] - 1s 382ms/step
(60, 2184, 3)
2/2 [==============================] - 1s 342ms/step
(60, 2208, 3)

In [ ]:
prediction[:,:,0]

array([[ 0.42315699,  0.42222505,  0.42240301, ...,  0.23423647,
         0.23626873,  0.23545445],
       [ 0.0339053 ,  0.03209497,  0.03030865, ...,  0.00583371,
        -0.00330224, -0.00484338],
       [ 0.12109302,  0.11861454,  0.11687952, ...,  0.0192478 ,
         0.00921979,  0.00752722],
       ...,
       [ 0.02601471,  0.02373978,  0.02223342, ...,  0.00799893,
        -0.00155407, -0.00312707],
       [ 0.00982087,  0.00654218,  0.00411151, ...,  0.00892523,
        -0.00171698, -0.00333831],
       [ 0.14013135,  0.13830035,  0.13699139, ...,  0.01773785,
         0.00811394,  0.00648973]])

In [ ]:
train = pd.read_csv('eletrain.csv')
mini=train.iloc[:,2].min()
size=train.iloc[:,2].max()-train.iloc[:,2].min()

In [ ]:
prediction[:,:,0] = prediction[:,:,0]*size + mini

In [ ]:
submission['answer'] = prediction[:,:,0].reshape([-1,1])
submission

          num_date_time       answer
0       1 2020-08-25 00  7506.476982
1       1 2020-08-25 01  7489.945090
2       1 2020-08-25 02  7493.102050
3       1 2020-08-25 03  7449.949334
4       1 2020-08-25 04  7421.932877
...                 ...          ...
10075  60 2020-08-31 19   662.867288
10076  60 2020-08-31 20   505.749704
10077  60 2020-08-31 21   314.655647
10078  60 2020-08-31 22   143.935036
10079  60 2020-08-31 23   115.122850

[10080 rows x 2 columns]

In [ ]:
submission.to_csv('submission.csv', index=False)